$color-red: red;
$breakpoint-sm: 30em;

:matches(.a, .b):not(.modify, .state) :any-link {
  @media (min-width: $breakpoint-sm) {
    color: $color-red    
  }
}

button:matches(:hover, :focus) {
  background-color: $color-red
}
